.title {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 0em;
    padding-top: 1.5em;
    margin: 0;
    
}

.subtitle {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 0em;
    margin: 0;
    padding-bottom: 1.5em

}

